:root {
  --primary-color: #f5f5f5;
  --secondary-color: #282828;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Prompt", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

.menu {
  background: var(--primary-color);
  width: 100%;
  padding: 3rem;
  border-bottom: 0.3px solid var(--secondary-color);
}

.menu ul {
  display: flex;
  color: var(--secondary-color);
  justify-content: space-between;
  margin: 0 9rem;
  list-style: none;
}

.menu ul li {
  font-size: 2rem;
}
