:root {
    --primary-color: #353535;
    --white-color: #ffffff;
    --secondary-color: #B486AB;
    --gap: 3rem;
    --blue: #212A3E;
}

* {
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 2rem;
    line-height: 1.5;
    /*color*/
}

h1, h2, h3, h4, h5, h6 {
    font-family: sans-serif;
}

h1 {
    font-size: 6rem;
    text-transform: uppercase;
    font-family: 'Josefin Sans', sans-serif;
}

h2 {
    font-size: 5rem;
    margin-bottom: 5rem;
    text-transform: uppercase;
    line-height: 1.2;
}

h3 {
    font-size: 5rem;
}

h4 {
    font-size: 4.5rem;
}

h5 {
    font-size: 4rem;

}

h6 { 
    font-size: 3.5rem;

}

a {
    text-decoration: none;
}

p {
    margin-bottom: 3rem;
}

/* CLASSES */

.main-bg {
    background-color: #222121;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg %3E%3Cpolygon fill='%231e1d1d' points='1600 160 0 460 0 350 1600 50'/%3E%3Cpolygon fill='%231a191a' points='1600 260 0 560 0 450 1600 150'/%3E%3Cpolygon fill='%23171616' points='1600 360 0 660 0 550 1600 250'/%3E%3Cpolygon fill='%23131213' points='1600 460 0 760 0 650 1600 350'/%3E%3Cpolygon fill='%230F0E0F' points='1600 800 0 800 0 750 1600 450'/%3E%3C/g%3E%3C/svg%3E");
    background-size: cover;
    color: var(--white-color);
}


.white-bg { 
    background: var(--white-color);
    color: var(--primary-color);
}

.main-content {
    max-width: 120rem;
    margin: 0 auto;
    padding: 7rem var(--gap);
}

.section {
    min-height: 100vh;
}

::-webkit-scrollbar {
    width: .5rem; 
}
  
::-webkit-scrollbar-track {
    background: #ffffff; 
}
  
::-webkit-scrollbar-thumb {
    background: var(--secondary-color);
}

/* MENU */


.menu {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    padding-left: 12rem;
    border-bottom: .1rem solid var(--secondary-color);
    z-index: 1;
}


.menu-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 0;
    padding-bottom: 0;
}

.menu h1 {
    color: var(--primary-color);
    font-size: 2.3rem;
}

.menu h1 a{
    color: inherit;
}


.menu ul {
    list-style: none;
    display: flex;
}

.menu ul li a {
    display: block;
    padding: 2rem;
    font-size: 2rem;
    position: relative;
    color: var(--primary-color);
}

.menu ul li a::after {
    content: '';
    position: absolute;
    bottom: 1.7rem;
    left: 50%;
    width: 0;
    height: 0.1rem;
    background: var(--secondary-color);
    transition: all 400ms ease-in-out;
}

.menu ul li a:hover::after {
    width: 50%;
    left: 25%;
}
.menu ul li a:hover {
    color: var(--secondary-color);
}


/* PROGRAMAÇÃO */

.heading {
    margin-top: 5rem;
}

.h6 {
    font-size: 3rem;
}

.heading h1 {
    font-size: 5rem;
    margin-bottom: 2rem;
}

.heading p {
    margin-bottom: -5rem;
}

.img-home img {
    width: 13rem;
}

.img-home {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* FOTOS DOS PROJETOS */

.projects img {
    width: 40rem;
    border: .1rem solid black;
    margin-bottom: 1.3rem;
    transition: all 300ms ease-in-out;
    margin-left: 5rem;
}

.projects img:hover {
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;

}

.project-content {
    font-size: 1.6rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border-bottom: .1rem solid var(--blue);
    padding-bottom: 1.3rem;
    width: 50rem;
}

h5~p {
    padding-bottom: 1.5rem;
    border-bottom: .1rem solid var(--secondary-color);
    width: 50%;
    margin-bottom: 5rem;
}

.grid-project {
    display: grid;
    grid-template-columns: 3fr 1fr;
}

/*FOOTER*/

.footer {
    background-color: #fff;
    color: #000;
    bottom: 0;
    padding-bottom: 0;
    padding-top: 3rem;
    border-top: solid .1rem black;
    height: 50%;
    
}

.container {
    max-width: 96rem;
    margin: 0 auto;
    padding: 0 2rem;
}

.footer-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo h1 {
    font-size: 1.6rem;
}

.footer-links ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.footer-links li {
    display: inline-block;
    margin-right: 20px;
    font-size: 1.6rem;
}

.footer-links a {
    color: #000;
    text-decoration: none;
}

.footer-bottom {
    margin-top: 1.5rem;
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 1rem;
}