:root {
  --primary-color: #080808;
  --secondary-color: #979797;
  --gray-color: #ada6a6;
  --scale: 1.1;
  --gap: 1;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Prompt", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

.section {
  min-height: 100vh;
}

.gray-section.section {
  background-color: var(--secondary-color);
  color: var(--primary-color);
}

.black-section.section {
  background-color: var(--primary-color);
  color: var(--secondary-color);
}

.main-content {
  max-width: 120rem;
  margin: 0 auto;
  padding: 10rem var(--gap);
}

bold {
  color: black;
}

.title {
  /* position: absolute; */
  margin: 17rem 0 0 5rem;
  font-size: 750%;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.text-content {
  margin-left: 5rem;
  font-size: 2.3rem;
  padding-bottom: 1rem;
}
